@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    font-family: 'League Spartan',
        sans-serif !important;
}

body::after{
    content: "";
    height: 100px;
}

.card-img-top {
    height: 200px !important;
}

.img-carousel {
    height: 320px !important
}

@media screen and (min-width:576px) {
    .card-img-top {
        height: 220px !important;
    }
    
    .img-carousel {
        height: 350px !important
    }
}

@media screen and (min-width:768px) {
    .card-img-top {
        height: 250px !important;
    }

    .img-carousel {
        height: 450px !important
    }
}